<body>
<script type="text/javascript">
    $(function () {
        $('#filter_date_from, #filter_date_to, #record_datetime_in, #record_datetime_out, #export_date_from, #export_date_to').datetimepicker({
            format: 'l, LTS'
        });
        $("#person_visiting_filter").autocomplete({
            source: <%= raw Person.pluck :name %>
        });
        $("#company_filter").autocomplete({
            source: <%= raw Visitor.pluck(:company).uniq %>
        });
    });

</script>
<link rel="stylesheet" href="/css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="/css/basictable.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-theme2.css">
<link rel="stylesheet" href="/css/autocomplete.css">
<link rel="stylesheet" href="/css/mvms_style.css">
<script type="text/javascript" charset="utf-8">
    var visitors_signs = [ ]
    <% Visitor.where(id: @visitor.id).each do |v| %>
    visitors_signs.push( {
        visitor_sign_id: '<%= v.id %>',
        person_id: '<%= v.id %>',
        person_image_url: "<%= v.avatar %>",
        first_visit: "<%= v.visitor_visit_informations.count > 1 ? false : true %>",
        update_contact: 'true',
        person_name: "<%= v.name %>",
        company: "<%= v.company %>",
        phone: "<%= v.phone %>",
        email: "<%= v.email %>",
        reason: "<%= v.last_visit.visit_reason %>",
        person_visiting: "<%=  v.last_visit.person.try(:name) %>",
        citizen: "<%= v.us_citizen.to_s.in?( ['true', '1']) ? 'yes' : 'no' %>",
        classified: "<%= v.last_visit.classified  ? 'yes' : 'no' %>",
        person_signature_url: "",
        datetime_in: "<%= v.last_visit.sign_in_date&.in_time_zone('Eastern Time (US & Canada)').to_i %>000",
        datetime_out: "<%=  v.last_visit.sign_out_date ? v.last_visit.sign_out_date.in_time_zone('Eastern Time (US & Canada)').to_i * 1000 : '' %>"}
    )
    <% end %>
</script>
<script type="text/javascript" charset="utf-8">
    var visitors_transactions = [ ]
    <% @visitors_transactions.each do |visit| %>
    visitors_transactions.push({
        company: "<%= visit.company %>",
        phone: "<%= visit.phone %>",
        name: "<%= visit.name %>",
        trans_id: "<%= visit.id %>",
        person_visiting: "<%= visit.person.try(:name) %>",
        visitor_sign_id: "<%= visit.visitor_id %>",
        classified: "<%= visit.classified  ? 'yes' : 'no' %>",
        person_id: '<%= visit.visitor_id %>',
        status: "<%= visit.status %>",
        recorded_by: "<%= visit.recorded_by.presence || 'Visitor' %>",
        datetime: "<%= visit.created_at.to_i*1000 %>",
        datetime_in: "<%= visit.sign_in_date&.in_time_zone('Eastern Time (US & Canada)').to_i %>000",
        datetime_out: "<%=  visit.sign_out_date ? visit.sign_out_date.in_time_zone('Eastern Time (US & Canada)').to_i * 1000 : '' %>"

    })
    <% end %>

</script>



<div id="main3" class="container">

  <div id="filter_form_div">
    <button id="close_filter_div_btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <form id="filter_trans_form">
      <div class="form-group">
        <h2>Filter Visits</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <label for="filter_date_from">Date From:</label>
          </div>
          <div class="col-xs-12 col-sm-10">
            <input type="text" class="form-control" id="filter_date_from" name="filter_date_from">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <label for="filter_date_to">Date To:</label>
          </div>
          <div class="col-xs-12 col-sm-10">
            <input type="text" class="form-control" id="filter_date_to" name="filter_date_to">
          </div>
        </div>
        <div class="row" hidden>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <label for="person_id">Person ID:</label>
          </div>
          <div class="col-xs-12 col-sm-9 col-md-9">
            <input type="text" class="form-control" id="person_id" name="person_id">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <label for="company_filter">Company:</label>
          </div>
          <div class="col-xs-12 col-sm-9">
            <input type="text" class="form-control" id="company_filter" name="company_filter">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <label for="person_visiting_filter">Person Visiting:</label>
          </div>
          <div class="col-xs-12 col-sm-9">
            <input type="text" class="form-control" id="person_visiting_filter" name="person_visiting_filter">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-3">
            <p class="formlabel">Classified:</p>
          </div>
          <div class="col-xs-4 col-sm-5">
            <div class="form-check">
              <label class="form-check-label" for="classified_filter_yes" id="classified_filter_yes_label">
                <input type="radio" class="form-check-input" name="classified_filter" id="classified_filter_yes" value="yes">
                Yes</label>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4">
            <div class="form-check">
              <label class="form-check-label" for="classified_filter_no" id="classified_no_label">
                <input type="radio" class="form-check-input" name="classified_filter" id="classified_filter_no" value="no">
                No</label>
            </div>
          </div>
        </div>
        <div class="buttonrow">
          <button type="reset" id="filter_reset_btn" class="btn btn-warning">Reset</button>
          <button type="submit" id="filter_submit_btn" class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
  </div><!-- filter_form_div  -->


  <!-- ***********************************************************************************************   -->

  <style>
    #log_key button{
      cursor: default;
    }
  </style>
  <div id="export_form_div">
    <button id="close_export_div_btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <form id="export_form">
      <div class="form-group">
        <h2>Export Activity Data</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <label for="export_date_from">Date From:</label>
          </div>
          <div class="col-xs-12 col-sm-10">
            <input type="text" class="form-control" id="export_date_from" name="export_date_from">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <label for="export_date_to">Date To:</label>
          </div>
          <div class="col-xs-12 col-sm-10">
            <input type="text" class="form-control" id="export_date_to" name="export_date_to">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <label for="export_size">Size:</label>
          </div>
          <div class="col-xs-12 col-sm-10">
            <select class="form-control" id="export_size" name="export_size">
              <option value="0" selected>Select All</option>
              <option value="1">Size 1</option>
              <option value="2">Size 2</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <label for="export_company_filter">Company Filter:</label>
          </div>
          <div class="col-xs-12 col-sm-9">
            <input type="text" class="form-control" id="export_company_filter" name="export_company_filter">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-check">
              <label class="form-check-label" for="rejected_passes" id="rejected_passes_label">
                <input type="checkbox" class="form-check-input" name="rejected_passes" id="rejected_passes" value="true">
                Export Rejected Passes only</label>
            </div>
          </div>
        </div>

        <div class="buttonrow">
          <button type="reset" id="export_reset_btn" class="btn btn-warning">Reset</button>
          <button type="submit" id="export_submit_btn" class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
  </div><!-- export_form_div  -->


  <!--- *******************************************************************************************  -->


  <h2>Visitor: <span id="visitor_name"><%= link_to @visitor.name, edit_visitor_path(@visitor) %></span></h2>
  <div id="log_key" class="row">
    <div class="col-xs-12 col-sm-4">
      <button id="new_user_key"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button> First Time Visitor<br>
      <button id="return_user_key"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button> Return Visitor<br>
      <button id="visitin_recorded_key"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button> Visitor Signed In<br>
    </div>
    <div class="col-xs-12 col-sm-8">
      <button id="visitor_signout_recored_key"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button> Visitor Signed Out<br>
      <button id="missed_signout_key"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span></button> Visitor Missed Sign Out<br>
      <button id="missed2_signout_key"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span></button> Missed Sign Out Completed<br>

    </div>
  </div><!-- log_key  -->

  <div id="filter_btns_div">
    <% if params[:visitorsignid] != 'all'  %>
    <button id="view_all_btn" class="btn btn-default filter_btn"><span id="count_all"></span>View All</button>
      <% else %>
      <button id="view_rencent_btn" class="btn btn-default filter_btn"><span id="count_all"></span>Most recent</button>
      <% end %>
  </div>
  <div id="more_filter_trans_btns_div">
    <p id="trans_count_row"><span id="create_update_filter" class="trans_count">(<span id="count_create_update"><%= @visitor.visitor_visit_informations.count %></span>) Total Visits</span>
    <span id="saved_signout_filter" class="trans_count">(<span id="count_newupdate"><%= @visitor.visitor_visit_informations.saved_sign_out.count %></span>) Saved Sign Out</span>
    <span id="missed_signout_filter">(<span id="count_missed"><%= @visitor.visitor_visit_informations.missed_sign_out.count %></span>) Missed Sign Out</span></p>
  </div>

  <div id="display_visitor_transactions">
  </div>
  <%= will_paginate @visitors_transactions, params: { personid: params['personid'] }, renderer: BootstrapPagination::Rails %>
</div><!-- main  -->


<script>
    var f, thesefilterbtns = document.querySelectorAll(".filter_btn"), d, thistimein;
    const monthNames = ["Jan.", "Feb.", "Mar.", "Apr.", "May", "June", "July", "Aug.", "Sept.", "Oct.", "Nov.", "Dec."];

    function resetFilterBtns() {
        for (f = 0; f < thesefilterbtns.length; f += 1) {
            $(thesefilterbtns[f]).removeClass("btn-grey");
        }
    }

    function displayAllTrans(thisperson_id) {
        //  alert('display all transactions for person with id = ' + thisperson_id);
        var t, thistrans, foundtrans, transstatus, savedentry, timerecorded, timesignout, v, visitfound, prevvisit;
        for (t = 0; t < visitors_transactions.length; t += 1) {
            thistrans = "";
            foundtrans = false;
            if (visitors_transactions[t].person_id === thisperson_id) {
                visitfound = false;
                v = -1;
                while ((visitfound === false) && (v < visitors_signs.length - 1)) {
                    v += 1;
                    if (visitors_signs[v].visitor_sign_id === visitors_transactions[t].visitor_sign_id) {
                        visitfound = true;
                    }
                }
                if (visitfound === true) {

                    transstatus = visitors_transactions[t].status;
                    //    alert(transstatus);
//                    if ((transstatus === "01000") || (transstatus === "10000") || (transstatus === "20000")) {
                    thistrans = thistrans + '<div id="visit_transactions_\' + thisperson_id + \'" class="visitor_transactions_div"><br><div class="row"><div class="col-xs-2"><img class="thumbpict" src="' + visitors_signs[v].person_image_url + '"></div><div class="col-xs-3"><strong>Company:</strong><br>' + visitors_transactions[t].company + '</div><div class="col-xs-2"><strong>Phone:</strong><br>' + visitors_transactions[t].phone + '</div><div class="col-xs-5"><strong>Email:</strong><br>' + visitors_signs[v].email + '</div></div><div class="row"><div class="col-xs-2"><strong>U.S. Citizen:</strong><br>' + visitors_signs[v].citizen + '</div><div class="col-xs-3"><strong>Person Visiting:</strong><br>' + visitors_transactions[t].person_visiting + '</div><div class="col-xs-2"><strong>Classified:</strong><br>' + visitors_transactions[t].classified + '</div><div class="col-xs-5"><strong>Visit Reason:</strong><br>' + visitors_signs[v].reason + '</div></div>';
//                    }
                    thistrans = thistrans + '<div class="row datetimerecord"><div class="col-xs-2">';

                    // CHECK IS THE USER IS NEW OR RETURNED
                    if(transstatus.substring(0, 1) === "0") {
                        d = new Date(Number(visitors_transactions[t].datetime));
                        thistimein = monthNames[d.getMonth()] + ' ' + d.getDate() + ', ' + d.getFullYear() + ' at ' + ("0" + d.getHours()).slice(-2) + ':' + ("0" + d.getMinutes()).slice(-2);
                        thistrans = thistrans + '<button class="new_user_btn"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button></div><div class="col-xs-10"><strong>Date/Time Visitor Created:</strong> ' + thistimein + '</div></div>';
                        d = new Date(Number(visitors_transactions[t].datetime));
                        timerecorded = monthNames[d.getMonth()] + ' ' + d.getDate() + ', ' + d.getFullYear() + ' at ' + ("0" + d.getHours()).slice(-2) + ':' + ("0" + d.getMinutes()).slice(-2);

                    }
                    else
                    {
                        d = new Date(Number(visitors_transactions[t].datetime));
                        thistimein = monthNames[d.getMonth()] + ' ' + d.getDate() + ', ' + d.getFullYear() + ' at ' + ("0" + d.getHours()).slice(-2) + ':' + ("0" + d.getMinutes()).slice(-2);
                        thistrans = thistrans + '<button class="return_user_btn">';

                        thistrans = thistrans + '<span class="glyphicon glyphicon-user" aria-hidden="true"></span></button></div><div class="col-xs-10"><strong>Date/Time Visitor Updated:</strong> ' + thistimein + '</div></div>';

                    }


                  //  if((transstatus.substring(1, 5) === "<%= VisitorVisitInformation::SIGN_IN_OUT_RECORDED %>") || (transstatus.substring(1, 5) === "<%= VisitorVisitInformation::SIGN_IN_RECORDED %>")){
                        thistrans = thistrans + '<div class="row datetimerecord"><div class="col-xs-2">';
                        thistrans = thistrans + '<button class="visitin_recorded_btn">';
                        d = new Date(Number(visitors_transactions[t].datetime));
                        timerecorded = monthNames[d.getMonth()] + ' ' + d.getDate() + ', ' + d.getFullYear() + ' at ' + ("0" + d.getHours()).slice(-2) + ':' + ("0" + d.getMinutes()).slice(-2);
                        thistrans = thistrans + '<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button></div><div class="col-xs-5"><strong>Date/Time Signed In:</strong> ' + timerecorded + '</div><div class="col-xs-5"></div></div>';

                  //  }

                }

              //  if(transstatus.substring(1, 5) === "<%= VisitorVisitInformation::SIGN_IN_OUT_RECORDED %>" || visitors_transactions[t].datetime_out )
                if(transstatus.substring(1, 5) === "<%= VisitorVisitInformation::SIGN_IN_OUT_RECORDED %>")
                {
                    thistrans = thistrans + '<div class="row datetimerecord"><div class="col-xs-2">';
                    d = new Date(Number(visitors_transactions[t].datetime_out));
                    timesignout = monthNames[d.getMonth()] + ' ' + d.getDate() + ', ' + d.getFullYear() + ' at ' + ("0" + d.getHours()).slice(-2) + ':' + ("0" + d.getMinutes()).slice(-2);

                    thistrans = thistrans + '<button class="visitor_signout_recored_btn">';
                    thistrans = thistrans + '<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button></div><div class="col-xs-5"><strong>Date/Time Signed Out:</strong> ' + timesignout + '</div><div class="col-xs-5"></div></div>';

                }

                if(transstatus.substring(1, 5) === "<%= VisitorVisitInformation::MUST_SIGN_OUT %>")
                {
                    thistrans = thistrans + '<div class="row datetimerecord"><div class="col-xs-2">';

                    thistrans = thistrans + '<button class="missed_signout_btn">';
                    thistrans = thistrans + '<span class="glyphicon glyphicon-alert" aria-hidden="true"></span></button></div><div class="col-xs-5"><strong></div><div class="col-xs-5"></div></div>';

                }

                //All Visitor Transactions Saved (Not Missed Sign Out)

                if(transstatus.substring(1, 5) === "<%= VisitorVisitInformation::ADMIN_SIGN_IN_OUT_RECORDED %>" )
                {
                    thistrans = thistrans + '<div class="row datetimerecord"><div class="col-xs-2">';
                    if( transstatus.substring(1, 5) === "<%= VisitorVisitInformation::ADMIN_SIGN_IN_OUT_RECORDED %>" )
                    {

                        thistrans = thistrans + '<button class="missed2_signout_btn">';
                        d = new Date(Number(visitors_transactions[t].datetime_out));
                        timesignout = monthNames[d.getMonth()] + ' ' + d.getDate() + ', ' + d.getFullYear() + ' at ' + ("0" + d.getHours()).slice(-2) + ':' + ("0" + d.getMinutes()).slice(-2);
                        thistrans = thistrans + '<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span></button></div><div class="col-xs-5"><strong>Date/Time Signed Out:</strong> ' + timesignout + '</div><div class="col-xs-5"><strong>Recorded by:</strong> ' + visitors_transactions[t].recorded_by + '</div></div>';


                    }
                    else {

                        thistrans = thistrans + '<button class="saved_missed_btn">';  thistrans = thistrans + '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></div><div class="col-xs-5"><strong>Date/Time Recorded:</strong> ' + timerecorded + '</div><div class="col-xs-5"><strong>Recorded by:</strong> ' + visitors_transactions[t].recorded_by + '</div></div><br>';

                    }

                }



                thistrans = thistrans + '</div></div>';

                $("#display_visitor_transactions").append(thistrans);
//                } else {
//                    alert('visitor sign not found');
//                }
            }
        }
    }

    $(document).ready(function () {
        var url_string = window.location.href;
        var url = new URL(url_string);
        var thisperson_id = url.searchParams.get("personid");
        var visitorsignid = url.searchParams.get("visitorsignid");


        $("#more_filter_trans_btns_div").show();
        resetFilterBtns();
        setTimeout(function () {
            $("#view_all_btn").addClass("btn-grey");
        }, 600);
        displayAllTrans(thisperson_id);


        $("#view_all_btn").click(function () {
            window.location.href = "visitor_transactions.html?personid=" + thisperson_id + "&visitorsignid=all";
        });

         $("#view_rencent_btn").click(function () {
            window.location.href = "visitor_transactions.html?personid=" + thisperson_id + "&visitorsignid=recent";
        });
    /*
        $("#saved_signout_filter").click(function () {
            window.location.href = "visitor_transactions.html?personid=" + thisperson_id + "&visitorsignid=sso";
        });

        $("#create_update_filter").click(function () {
            window.location.href = "visitor_transactions.html?personid=" + thisperson_id + "&visitorsignid=cuv";
        });

        $("#missed_signout_filter").click(function () {
            window.location.href = "visitor_transactions.html?personid=" + thisperson_id + "&visitorsignid=mso";
        });
    */
    });
</script>


</body>
