<link rel="stylesheet" href="/css/bootstrap-theme2.css">
<link rel="stylesheet" href="/css/mvms_style.css">

<div id="admin-login" class="container">
  <div class="row">
    <div id="box-left" class="col-sm-8">
      <div class="row">
        <div id="section-1" class="col-xs-12 col-sm-6">
          <%= image_tag section_1_image(@page_content) %>
          <p><%= @page_content.section_1_body  if @page_content.present? %></p>
        </div>
        <div id="section-2" class="col-xs-12 col-sm-6">
          <%= image_tag section_2_image(@page_content) %>
        </div>
      </div>

      <div class="row">
        <div id="section-3" class="col-xs-12 col-sm-6">
          <p class="heading"><%= @page_content.section_3_title if @page_content.present?  %></p>
          <p class="body"><%= @page_content.section_3_body  if @page_content.present? %></p>
        </div>
        <div id="section-4" class="col-xs-12 col-sm-6">
          <p class="heading"><%= @page_content.section_4_title  if @page_content.present? %></p>
          <p class="body"><%= @page_content.section_3_body  if @page_content.present? %></p>
        </div>
      </div>
    </div>

    <div id="box-right" class="col-xs-12 col-sm-4">
      <div class="container-login-form">

        <h2>Forgot your password?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <label>E-mail / Username</label>
            <div class="input-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            </div>
          </div>
          <div class="footer">
            <%= f.submit "Send me reset password instructions", class: 'btn btn-primary', id: 'login_btn' %>
          </div>

        <% end %>
      </div>

    </div>
  </div>
</div>
</div>



